---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h1 class="animate font-semibold text-black dark:text-white">
      Matt David's Site 🔬
    </h1>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <h2>What I do</h2>
            <p>
              Hey, i'm Matt! an undergrad at UC San Diego studying Computer Science and Cognitive Science.
            </p>
            <p>
              I currently work as a student engineer / researcher at the <Link href="https://lei.ucsd.edu">Lab for Emerging Intelligence</Link> , where I am developing a smart learning hub to enhance student's educational experience.
            </p>
          </span>
          <span class="animate">
            <p>
              I also work at Biology Computing Services, where I work as a student developer.
            </p>
            <p>
              In my free time, I enjoy surfing and staying active.
          </span>
          <span class="animate">
            <h2>Interests</h2>
            <p>The trend towards zero-cost software development is altering the landscape of technology creation. As costs decrease, the barrier to entry lowers, leading to a surge in innovation. This environment could dramatically increase the volume and diversity of technology products, as more individuals are able to participate in the development process without the constraint of financial investment. I am interested in what are implications of this shift, and what a future with an abundance of these products will look like.
            </p>
            <p>
              The advancement of HCI through gesture recognition and brain-computer interfaces (BCI) offers a paradigm shift from traditional interaction methodologies. These technologies reduce the abstraction layer between human intention and digital response, potentially increasing the efficiency and intuitiveness of user interfaces. My focus is on the computational models underlying these technologies, their integration into existing digital ecosystems, and the optimization of their interaction protocols for maximal user efficacy. This includes a detailed analysis of sensorimotor feedback loops, neural adaptability to interface mechanisms, and the scalability of these technologies in everyday computing environments.
            </p>
          </span>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">Latest posts</h2>
          <Link href="/blog"> See all posts </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">
            Recent projects
          </h2>
          <Link href="/projects"> See all projects </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">Let's Connect</h2>
        <article>
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>
        </article>
        <ul class="not-prose flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.TITLE}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</Layout>
